<h5>General info</h5>
<div *ngIf="service.name && service.version && service.type; else nameUndef">
    <div>
        Service:
        <span class="field-val">{{service.name}}@{{service.version}} ({{service.type}})</span>
    </div>
    <div class="description">{{service.description}}</div>
</div>
<ng-template #nameUndef>
    <div class="undef">Name, version and type must be specified!</div>
</ng-template>

<hr/>

<div *ngIf="service.type === 'CLIENT_APP' || service.type === 'WEB_APP'">
    <h5>Client configuration</h5>
    <div>
        <div *ngIf="service.applicationUrl; else noAppUrl">
            <div>
                Client application url:
                <span class="field-val">{{service.applicationUrl}}</span>
            </div>
        </div>
        <ng-template #noAppUrl>
            <div class="undef">Client application url must be specified!</div>
        </ng-template>
    </div>

    <hr/>
</div>

<div *ngIf="service.type === 'API_SERVICE' || service.type === 'WEB_APP'">
    <h5>API configuration</h5>
    <div>
        <div *ngIf="service.baseUrl && service.majorVersion; else noBaseUrl">
            <div>
                API base url:
                <span class="field-val">{{service.baseUrl}}</span>
            </div>
            <div>
                API's major version:
                <span class="field-val">{{service.majorVersion}}</span>
            </div>
        </div>
        <ng-template #noBaseUrl>
            <div class="undef">API base url and major version must be specified!</div>
        </ng-template>
    </div>

    <hr/>
</div>

<h5>Docker deployment</h5>
<div *ngIf="service.deployment; else notDockerized">
    <div *ngIf="service.deployment.dockerEndpoint && service.deployment.containerId && service.deployment.containerName; else dockerUndef">
        <div>
            Docker daemon:
            <span class="field-val">{{service.deployment.dockerEndpoint.name}}</span>
        </div>
        <div>
            Container name:
            <span class="field-val">{{service.deployment.containerName}}</span>
        </div>
        <div>
            Container id:
            <span class="field-val">{{shortenContainerId()}}</span>
        </div>
    </div>
    <ng-template #dockerUndef>
        <div class="undef">Service is not connected with docker container!</div>
    </ng-template>
</div>
<ng-template #notDockerized>
    <div class="not-used">Service is not deployed on docker.</div>
</ng-template>

<hr/>

<div *ngIf="service.type === 'API_SERVICE' || service.type === 'WEB_APP'">
    <h5>Healthcheck</h5>
    <div>
        <div *ngIf="service.healthcheckUrl; else noHealthcheck">
            <div>
                Healthcheck endpoint:
                <span class="field-val">{{service.healthcheckUrl}}</span>
            </div>
        </div>
        <ng-template #noHealthcheck>
            <div class="not-used">Service doesn't have healthcheck.</div>
        </ng-template>
    </div>

</div>
