<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/']">Tasker</a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpened}">
        <div class="navbar-nav mr-auto">
            <tasker-header-link *ngFor="let item of menuItems"
                [hasPermission]="isAuthorized && hasRole(item)"
                [item]="item"></tasker-header-link>
        </div>
<!--        <button class="btn btn-primary">-->
<!--            <span class="badge badge-light">7</span>-->
<!--        </button>-->
        <span class="profile-link" *ngIf="isAuthorized" [tooltip]="email">{{username}}</span>
        <a class="logout-link" *ngIf="isAuthorized" (click)="logout()">Logout</a>
        <a class="logout-link" *ngIf="!isAuthorized" (click)="login()">Login</a>
    </div>
</nav>
