@import "../../../styles/variables";
@import "../../../styles/media-mixin";

.page-wrapper {
    .tb-name {
        width: 40%;

        .details-link {
            color: $link-color;
            cursor: pointer;
        }
    }
    .tb-expired {
        min-width: 165px;
    }
    .tb-actions {
        width: 10%;

        .expire-btn {
            color: $red;
            cursor: pointer;
        }
    }
}
.expiry-modal {
    .btn-outline-danger {
        margin-right: 10px;
    }
}
