@import "../styles/variables";
@import "../styles/media-mixin";

main {
    display: flex;
    justify-content: center;
    width: 100%;

    section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@include device-specific($phone) {
    section {
        width: 100%;
        padding: 15px;
        margin-top: 0 !important;
    }
}
@include device-specific($tablet) {
    section {
        width: 90%;
    }
}
@include device-specific($pc) {
    section {
        width: 60%;
    }
}
