
$red: #950000;
$green: #27aa11;
$base-color: #0c5460;
$link-color: #66b3d7;
$light-grey: #bfbfbf;
$white: #fff;


$health-healthy: #43a047;
$health-bad: #d22528;
$health-checking: #a0992d;
$health-undef: $light-grey;
