@import "../../../styles/variables";

.healthcheck {
    cursor: pointer;
    font-size: 30px;

    &.bad {
        color: $health-bad;
    }
    &.healthy {
        color: $health-healthy;
    }
    &.checking {
        color: $health-checking;
    }
    &.undef {
        color: $health-undef;
        cursor: unset;
    }
}
