<div class="page-wrapper">
    <h2>{{service.name}}</h2>
    <p class="description">{{service.description}}</p>

    <h4 *ngIf="service.serviceUrl">
        <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
        Service
    </h4>
    <div *ngIf="service.serviceUrl">
        <div class="data-row">
            <span class="row-title">Base url:</span>
            <span class="row-value">{{service.serviceUrl.url}}</span>
            <tasker-clipboard [data]="service.serviceUrl.url"></tasker-clipboard>
        </div>
        <div class="data-row">
            <span class="row-title">API base url:</span>
            <span class="row-value">{{service.serviceUrl.url + '/' + service.serviceUrl.version}}</span>
            <tasker-clipboard [data]="service.serviceUrl.url + '/' + service.serviceUrl.version"></tasker-clipboard>
        </div>
    </div>

    <h4 *ngIf="service.healthCheck">
        <fa-icon [icon]="['fas', 'heartbeat']"></fa-icon>
        Health
    </h4>
    <div *ngIf="service.healthCheck">
        <div class="data-row">
            <span class="row-title">Status:</span>
            <span class="row-value">
                <span (click)="checkHealth()" class="health-status status-{{status}}">{{status}}</span>
            </span>
        </div>
        <div class="data-row">
            <span class="row-title">Health url:</span>
            <span class="row-value">{{service.healthCheck.healthUrl}}</span>
            <tasker-clipboard [data]="service.healthCheck.healthUrl"></tasker-clipboard>
        </div>
    </div>

    <h4 *ngIf="service.deployment">
        <fa-icon [icon]="['fab', 'docker']"></fa-icon>
        Deployment
    </h4>
    <div *ngIf="service.deployment">
        <h5>Container</h5>
        <div class="data-row">
            <span class="row-title">Name:</span>
            <span class="row-value">{{service.deployment.containerName}}</span>
        </div>
        <div class="data-row">
            <span class="row-title">Id:</span>
            <span class="row-value">{{service.deployment.containerId}}</span>
        </div>
        <div class="data-row">
            <span class="row-title">Version:</span>
            <span class="row-value">{{service.deployment.version}}</span>
        </div>
        <div class="data-row">
            <span class="row-title">Daemon:</span>
            <span class="row-value">{{service.deployment.dockerDaemon.name}}</span>
            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
        </div>
    </div>

    <h4>
        <fa-icon [icon]="['fas', 'bolt']"></fa-icon>
        Actions
    </h4>
    <div class="actions">
        <button class="btn btn-outline-info with-marg" (click)="getContainerInfo()"
            [disabled]="blockActions">Info</button>
        <button class="btn btn-outline-info with-marg" (click)="startService()"
            [disabled]="blockActions">Start</button>
        <button class="btn btn-outline-info with-marg" (click)="recreateService()"
            [disabled]="blockActions">Recreate</button>
        <button class="btn btn-outline-danger" (click)="stopService()"
            [disabled]="blockActions">Stop</button>
    </div>

    <div class="container-info" *ngIf="containerInfo !== null">
        <tasker-json-view [data]="containerInfo"></tasker-json-view>
    </div>
</div>
