@import "../../../styles/variables";

.back-btn {
    margin-bottom: 20px;

    &.back-2 {
        margin-bottom: 0;
        margin-top: 20px;
    }
    span {
        cursor: pointer;
    }
}
.description {
    font-style: italic;
}
h4 {
    margin-top: 60px;
    margin-bottom: 20px;
}
.health-status {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

    &.status-healthy {
        color: $health-healthy;
    }
    &.status-bad {
        color: $health-bad;
    }
    &.status-checking {
        color: $health-checking;
    }
    &.status-undef {
        color: $health-undef;
    }
}
.actions {
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .btn {
        width: 100px;
    }
    .with-marg {
        margin-right: 10px;
    }
    tasker-spiner {
        margin-left: 10px;
    }
}
.data-row {
    padding: 5px 0;

    .row-title {
        width: 100px;
        display: inline-block;
        margin-right: 5px;
    }
    .row-value {
        margin-right: 5px;
        white-space: nowrap;
    }
}
.container-info {

}
.container-state {
    text-transform: uppercase;
}
.daemon-link {
    cursor: pointer;
}
