@import "../../../styles/media-mixin";

hr {
    margin: 2rem 0;
}
h3 {
    margin-bottom: 40px;
}
.group-enabler {
    margin-bottom: 20px;
}

@include device-specific($tablet) {
    .form-summary {
        overflow: hidden;
    }
    .sticky {
        position: fixed;
        top: 100px;
    }
}
@include device-specific($pc) {
    .form-summary {
        overflow: hidden;
    }
    .sticky {
        position: fixed;
        top: 100px;
    }
}
